.mainBackground {
  background-image: url("../public/hero-bg.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: aquamarine; */
  background-position: right;
  height: 90vh;
}
